<div class="row">
    <h3 class="graph-title">CAR type chart</h3>
</div>
<div class="col-sm-3">
    <ul class="list-none">
        <li><p><i class="fa fa-square" style="color:lightgrey" aria-hidden="true"></i> Business Risk</p></li>
        <li><p><i class="fa fa-square" style="color:lightblue" aria-hidden="true"></i> Loan Approval</p></li>
        <li><p><i class="fa fa-square" style="color:red" aria-hidden="true"></i> Correction CAR</p></li>
    </ul>
</div>

<div class="col-sm-9">
	<canvas id="pie" class="chart chart-pie"
		chart-data="charts.pieData" chart-labels="charts.pieLabels" chart-options="charts.options" chart-legend="true">
		</canvas>
</div>

